.signup {

    .signup__header {
        margin-bottom: 2rem;

        .signup__h1 {
            margin-bottom: 1rem;
        }

        .signup__h2 {
            margin-bottom: .75rem;
        }
    }

    
}