.dashboard {
    min-height: 100vh;
    
    .dashboard__header {
        height: 6rem;
        display: flex;

        .dashboard__menu-btn-wrapper {
            cursor: pointer;
        }

        .dashboard__heading {
            font-size: 1rem;
            margin-left: 1rem;
        }
    }

    .sidebar-menu-wrapper {
        &.hidden {
            transform: translateX(-30rem);
        }

        width: 16rem;
        height: 30rem;
        position: fixed;
        top: 5rem;
        z-index: 9999;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        transition: all .5s ease-in-out;
        transform: translateX(-2rem);
    }

    .dashboard__main {
        padding: 2rem;
        transition: all .5s ease-in-out; 

        &.sidebar-visible {
            padding-left: 16rem;
        }
    }
}