.url-input-wrapper {
    
    height: 1.75rem;
    width: 30rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;

    &.failedToSubmit {
        margin-left: 2rem;
        border-bottom: none;
    }

    /*
    
    &:hover .interaction-icons {
        opacity: 1;
    }

    .interaction-icons {
        font-size: 1.375rem;
        margin-right: .25rem;
        width: 40px;
        height: 20px;
        color: grey;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: grab;

        opacity: 0;

        transition: .25s opacity ease-in-out;
        -webkit-transition: .25s opacity ease-in-out;
    }
    */

    .url-input {
        height: 100%;
        width: 100%;
        border: none;
        //border-bottom: 1px solid black;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 .75rem;
        cursor: text;

        &:focus, &:active {
            outline: none;
        }
    }


    .url-input__submission-err-message {
        height: 100%;
        width: 100%;
        font-weight: 700;
        font-size: .75rem;
        color: coral;
    }
}

/*
[contenteditable]:empty:before {
    content: attr(placeholder);
    display: block;
    color: grey;
}
*/
